:root {
  --ss-background: #EFF5F3;
  --ss-surface: #FAFDFC;
  --ss-chrome: #DCE3E1;
  --ss-foreground: #0A0C0B;
  --ss-muted-foreground: #4D5150;
  --ss-chrome-foreground: #0A0C0B;
  --ss-border: #B5BCBA;
  --ss-primary: #226B5E;
  --ss-primary-foreground: #FAFCFC;
  --ss-accent: #006B71;
  --ss-accent-foreground: #FAFCFC;
  --ss-focus: #0060A6;
  --ss-success: #006425;
  --ss-success-foreground: #FAFCFC;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FAFCFC;
  --ss-danger: #902824;
  --ss-danger-foreground: #FAFCFC;
  --ss-primary-50: #E6FFF8;
  --ss-primary-100: #C6F8EB;
  --ss-primary-200: #B0E4D8;
  --ss-primary-300: #93CBBE;
  --ss-primary-400: #6FAC9F;
  --ss-primary-500: #4F9283;
  --ss-primary-600: #357A6C;
  --ss-primary-700: #206255;
  --ss-primary-800: #05483D;
  --ss-primary-900: #002E27;
  --ss-primary-950: #001612;
  --ss-accent-50: #E8FDFF;
  --ss-accent-100: #BCF8FD;
  --ss-accent-200: #A5E5EA;
  --ss-accent-300: #87CBD1;
  --ss-accent-400: #61ADB3;
  --ss-accent-500: #3C9298;
  --ss-accent-600: #1B7A81;
  --ss-accent-700: #006168;
  --ss-accent-800: #00464B;
  --ss-accent-900: #002D30;
  --ss-accent-950: #001517;
}
