:root {
  --ss-background: #EFF5F4;
  --ss-surface: #FAFDFD;
  --ss-chrome: #DBE3E2;
  --ss-foreground: #090C0B;
  --ss-muted-foreground: #4D5150;
  --ss-chrome-foreground: #090C0B;
  --ss-border: #B4BDBB;
  --ss-primary: #00736B;
  --ss-primary-foreground: #FAFCFC;
  --ss-accent: #685184;
  --ss-accent-foreground: #FAFCFC;
  --ss-focus: #685184;
  --ss-success: #006425;
  --ss-success-foreground: #FAFCFC;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FAFCFC;
  --ss-danger: #902824;
  --ss-danger-foreground: #FAFCFC;
  --ss-primary-50: #E5FFFB;
  --ss-primary-100: #BBFAF2;
  --ss-primary-200: #A4E7DE;
  --ss-primary-300: #86CDC5;
  --ss-primary-400: #5FAFA6;
  --ss-primary-500: #3A948B;
  --ss-primary-600: #177C74;
  --ss-primary-700: #00635C;
  --ss-primary-800: #004842;
  --ss-primary-900: #002E2A;
  --ss-primary-950: #001614;
  --ss-accent-50: #FAF7FF;
  --ss-accent-100: #F0E6FF;
  --ss-accent-200: #E1CEFB;
  --ss-accent-300: #C7B3E3;
  --ss-accent-400: #A993C5;
  --ss-accent-500: #8E77AB;
  --ss-accent-600: #765F93;
  --ss-accent-700: #5F4A78;
  --ss-accent-800: #46335C;
  --ss-accent-900: #2E1D40;
  --ss-accent-950: #180827;
}
